button,
a.button {
    background-color: var(--color-primary);
    color: var(--button-colorText);
    border: none;
    border-radius: 12px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button.secondary,
a.button.secondary {
    background-color: var(--color-secondary);
}

button:hover,
a.button:hover {
    background-color: var(--button-hover-bgColor);
}

button:active,
a.button:active {
    background-color: var(--button-active-bgColor);
}

button:disabled,
a.button:disabled {
    background-color: var(--button-disabled-bgColor);
    color: var(--button-color-disabled);
    cursor: not-allowed;
}

button[type="submit"] {
    color: var(--button-submit-color);
    background-color: var(--button-submit-bfColor);
}

button[type="submit"]::after {
    content: " >>";
}

button.danger,
a.button.danger {
    background-color: var(--button-danger-bgColor);
    color: var(--button-danger-color);
}

button.danger:hover,
a.button.danger:hover {
    background-color: var(--button-danger-hover-bgColor);
}

button.danger:active,
a.button.danger:active {
    background-color: var(--button-active-bgColor);
}
