@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: 'JetBrains Mono', 'Courier New', monospace;
}

pre {
    font-family: 'Courier New', monospace;
    font-size: 14px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: auto;
}

a {
    text-decoration: none;
    color: var(--cor-texto);
    -webkit-tap-highlight-color: transparent;
}
