input {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: 2px solid transparent;
    background-color: var(--input-bgColor);
    color: var(--input-color);
    outline: none;
    font-family: 'JetBrains Mono', monospace;
}

input::placeholder {
    color: var(--input-placeholder-color);
}

input:valid {
    border-color: var(--input-valid-border-color);
    box-shadow: 0 0 10px var(--input-valid-border-color);
}

input:invalid {
    border-color: var(--input-invalid-border-color);
    box-shadow: 0 0 10px var(--input-invalid-border-color);
}

input[required]:placeholder-shown {
    border-bottom: 2px solid var(--input-required-border-color);
}

input:placeholder-shown {
    border-color: initial;
    box-shadow: none;
}

input:focus {
    border-color: var(--input-focus-border-color);
    box-shadow: 0 0 10px var(--input-focus-border-color);
}

input[required]:placeholder-shown:focus {
    border-color: var(--input-focus-border-color);
    box-shadow: 0 0 10px var(--input-focus-border-color);
}

input~span.danger,
input:valid~span.danger {
    display: block;
    height: 24px;
    opacity: 0;
    color: var(--span-danger-color);
}

input:not(:placeholder-shown):invalid~span.danger {
    opacity: 1;
}
